body {
  text-align: center;
  background-color: #040615;
}

pre {
  margin: 0;
  padding: 0;
}

#log {
  font-family: monospace;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  text-align: left;
  width: 1000px;
  margin: auto;
  border: 1px solid #afafaf;
  padding: 5px;
}

#output {
  width: 780px;
  height: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
